BODY
{FONT-SIZE: 8pt;FONT-FAMILY: Verdana, Arial, Helvetica}
TD
{FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica}
<!-- 
A:link {COLOR: #888888; TEXT-DECORATION: none; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica}
A:visited {COLOR: #888888; TEXT-DECORATION: none; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica}
A:hover {COLOR: #8b0000; TEXT-DECORATION: none; FONT-SIZE: 8pt. FONT-FAMILY: Verdana, Arial, Helvetica}
-->
